In [1]:
#Python_Imran_Day1_B52

In [3]:
#organising the list data type:

In [16]:
cars = ['kia','benz','audi','bmw','hyundai','maruthi']

In [17]:
print(cars)

['kia', 'benz', 'audi', 'bmw', 'hyundai', 'maruthi']

In [6]:
type(cars)

list

In [7]:
# reg : i want to organize the above cars list in a alpabetical order

In [12]:
#2 possible apporaches

#1. Temp approach --> We can maintain the original order===> SORTED
#2. Permanent approach --> Changes are fixed. Can't go back to orinial order=== SORT

In [13]:
#tEMP approach --> 1 - sorted - A --> Z ORDER -

In [18]:
print(sorted(cars))

['audi', 'benz', 'bmw', 'hyundai', 'kia', 'maruthi']

In [19]:
print(cars) # this is original order and it remains the same

['kia', 'benz', 'audi', 'bmw', 'hyundai', 'maruthi']

In [ ]:
benz , bmw ---> e, m

In [20]:
#permanent approach :

In [21]:
cars.sort()

In [22]:
print(cars)

['audi', 'benz', 'bmw', 'hyundai', 'kia', 'maruthi']

In [ ]:
# reg :how to print the list in a reverse order .. ?

In [23]:
print(cars)

['audi', 'benz', 'bmw', 'hyundai', 'kia', 'maruthi']

In [25]:
cars.reverse()  # The changes are applied permanently

In [26]:
print(cars)

['maruthi', 'kia', 'hyundai', 'bmw', 'benz', 'audi']

In [27]:
# To count the number of elements in a LIST

In [32]:
len(cars)

6

In [33]:
#slicing of lists:

In [41]:
students =['suvedita','farheen','kumar','imran','surya','hameed']

In [42]:
print(students)

['suvedita', 'farheen', 'kumar', 'imran', 'surya', 'hameed']

In [43]:
#General syntax of slicing

In [45]:
#startvalue:stopvalue:stepcount ==> indexing.

In [50]:
#Note : Last value or stop value is always exclusive, that means it will be included in part of the slice.

In [51]:
#Note 2 : Increment the index by 1 to include the lastvalue or stop value

In [48]:
# reg : i want to include suvedita and farheen in the same slice.

In [49]:
print(students[0:1])

['suvedita']

In [52]:
print(students[0:2])

['suvedita', 'farheen']

In [53]:
print(students[2:4])

['kumar', 'imran']

In [ ]:
# reg : i want to include surya and Hameed in the same index

In [54]:
print(students[4:6])

['surya', 'hameed']

In [55]:
# every alternative student

In [59]:
print(students[0:6:2])  # This will skip the second record is removed.

['suvedita', 'kumar', 'surya']